.structure {
    position: absolute;
    overflow-y: hidden;
    cursor: pointer;
}

.diagram {
    display: none;
}

.diagram.visible {
    display: block;
}

.structure:hover {
    box-shadow: 2px 2px 8px -4px #000;
    transition: 0.2s;
}

#top-level-fp,
#top-level-diagram {
    position: absolute;
    top: 0;
    left: 0;
}

#top-level-fp > div,
#top-level-diagram > div {
    position: absolute;
}

#fp-container,
#bd-container {
    position: absolute;
}

#switcher {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: #c8c8c8d4;
    border-radius: 5px;
    z-index: 100;
}

#switcher::before {
    content: "";
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #333;
    border-radius: 5px;
    transition: .3s;
    left: 0;
}

#switcher button {
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
    padding: 5px 7px;
    font-size: 15px;
    line-height: 23px;
    display: inline-block;
    height: 32px;
    width: 40px;
}

#switcher button:enabled {
    cursor: pointer;
}

#vi-info-container {
    padding: 10px;
}

.empty-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#fp-container,
#bd-container,
#vi-info-container {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#tab-container {
    color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#tab-container[data-tab=FP] #fp-container {
    display: block;
}

#tab-container[data-tab=BD] #bd-container {
    display: block;
}

#tab-container[data-tab=BD] #switcher::before {
    left: 40px;
}

#tab-container[data-tab=Info] #vi-info-container {
    display: block;
}

#tab-container[data-tab=Info] #switcher::before {
    left: 80px;
}

.border {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.border-top {
    height: 1px;
    bottom: auto;
}

.border-left {
    width: 1px;
    right: auto;
}

.border-bottom {
    height: 1px;
    top: auto;
}

.border-right {
    width: 1px; 
    left: auto;
}